@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        @Body
    </div>
</div>

<style>
    .page {
        padding: 2rem;
        font-family: sans-serif;
    }
</style>
